.container {
  margin: 30px auto;
  border: 1px solid #333;
  background: #55c1e7;
}

/*--extend--*/
.area .fore, .mid, .bk, .container {
  width: 600px;
  height: 288px;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
}

.figure {
  /*background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/dog-walk.svg") no-repeat;*/
  width: 220px;
  height: 266px;
  transform: translate3D(200px, 50px, 0);
  animation: walk 0.78s steps(9) infinite;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
}
.no-svg .figure {
  /*background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/dog-walk.png");*/
}

.fore {
  /*background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/foreground.svg");*/
  
  transform: translateZ(0);
  animation: bk 7s -5s linear infinite;
}
.no-svg .fore {
  /*background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/foreground.png");*/
}

.mid {
  /*background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/midground.svg");*/
  background: url("midground.svg");
  animation: bk 15s -5s linear infinite;
  transform: translateZ(0);
}
.no-svg .mid {
  /*background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/midground.png");*/
}

.bk {
  /*background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/background.svg");*/
  background: url("background.svg");
  animation: bk 20s -5s linear infinite;
  transform: translateZ(0);
}
.no-svg .bk {
  /*background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/57786/background.png");*/
}

@keyframes walk {
  100% { background-position: 0 -2376px; }
}

@keyframes bk {
  100% { background-position: -200% 0; }
}

@media screen and ( max-width: 600px ) {
  .container { 
    width: 100%; 
    margin-top: 0;
  }
  .figure { transform: translate3D(40%, 50px, 0); }
}








/* */

.st1{display:inline;fill:#3ABC98;}
.st2{opacity:0.32;fill:#727171;}
.st3{fill:#898989;}
.st4{fill:#FFFFFF;}
.st5{fill:#C9CACA;}
.st6{fill:#FDBE25;}
.st7{fill:#F9F8DE;}
.st8{fill:#F57D41;}
.st9{fill:#F57D41;stroke:#EA5514;stroke-width:2;stroke-miterlimit:10;}
.st10{fill:none;stroke:#DEDCC9;stroke-width:2;stroke-miterlimit:10;}
.st11{fill:#BDE6E3;}
.st12{fill:#EA5514;}
.st13{fill:none;stroke:#595757;stroke-width:3;stroke-miterlimit:10;}
.st14{fill:none;stroke:#EA5514;stroke-miterlimit:10;}
.st15{fill:#DEDCC9;stroke:#DEDCC9;stroke-width:2;stroke-miterlimit:10;}
.st16{fill:#C96031;stroke:#EA5514;stroke-width:2;stroke-miterlimit:10;}

body {
  background-color: #3ABC98;
  margin: 0;
  padding: 0;
}

#wrapper {
    position: absolute;
    width: 320px;
    height: 150px;
    left: auto;
    right: 5%;
    top: 70%;
    /*transform: translate(-20%, -50%);
    -webkit-transform: translate(-20%, -50%);*/
    transform: translate3D(0, 150px, 0);
    -webkit-transform: translate3D(0, 150px, 0);
}

#car-body {
    position: absolute;
    width: 100%;
    bottom: 30px;
    animation: carbody 1s linear infinite;
    -webkit-animation: carbody 1s linear infinite;
}

#wheel .wheel {
        position: absolute;
        width: 100%;
        bottom: 30px;
    }
#wheel .wheel-back {
        z-index: -1;
    }

#smoke {
    width: 5px;
    position: absolute;
    left: 100%;
    top: 50px;
    animation: smoke 1s linear infinite;
    -webkit-animation: smoke 1s linear infinite;
}

#shadow {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: -2;
}
/***** Animation *****/

@keyframes carbody {
    0% {
        bottom: 30px;
    }
    60% {
        bottom: 35px;
    }
    80% {
        bottom: 37px;
    }
}
@-webkit-keyframes carbody {
    0% {
        bottom: 30px;
    }
    60% {
        bottom: 35px;
    }
    80% {
        bottom: 37px;
    }
}

@keyframes smoke {
    from {
        left: 90%;
        top: 50px;
    }
    to {
        left: 100%;
        top: 30px;
        transform: scale(5);
        opacity: .3;
    }
}
@-webkit-keyframes smoke {
    from {
        left: 90%;
        top: 50px;
    }
    to {
        left: 100%;
        top: 30px;
        transform: scale(5);
        opacity: .2;
    }
}
